name: Deploy Backend (DEV)

on:
  push:
    branches: [dev] # <--- Triggers only on 'dev' branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # 1. Copy files to the DEV folder
      - name: Copy files via SSH
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: "."
          target: "/var/www/fiesta_dev/server" # <--- TARGET DEV FOLDER
          rm: false

      # 2. Install Deps & Restart using DEV Config
      - name: Deploy Backend
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/fiesta_dev/server
            npm ci --production

            # Define PM2 Path
            PM2_PATH=/home/ubuntu/.nvm/versions/node/v22.21.1/bin/pm2

            # Start/Reload using the DEV Ecosystem file
            $PM2_PATH startOrReload ecosystem.dev.config.cjs --update-env

            $PM2_PATH save
